body {
  margin: 0;
  background: #000;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: rgba(255,255,255,0.65);
  text-decoration: underline;
}
video, div.cover {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('assets/poster.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
div.cover {
  display: none;
  background: url('assets/mobileCover.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(2px) grayscale(1);
}
.stopfade {
   opacity: .5;
}
.text {
  text-align: center;
  color: white;
  display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
  height: calc(100vh - 38px);
}
@media(max-width: 600px) {
  .text {
    height: calc(100vh - 56px);
  }
}
.text div {
  display: block;
  margin: 0 auto;
}
.text h1, .text h2 {
  font-weight: normal;
  margin: 20px 0;
  text-shadow: 1px 1px 10px #000;
}
.text h1 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 5em;
  color: #EF5350;
}
.text h2 {
  font-family: 'Special Elite', cursive;
  font-size: 3.5em;
}
.hide {
  display: none;
}

footer {
  text-align: center;
  padding: 10px;
  font-family: sans-serif;
  text-shadow: 1px 1px 10px #000;
}

@media screen and (max-width: 800px) {
    video {
        display: none;
    }
    div.cover {
      display: block;
    }
}
